.description {
	@include breakpoint-up("lg") {
		padding-top: 70px;
	}
	&__title {
		display: none;
		@include breakpoint-up("md") {
			display: block;
			text-align: left;
		}
		@include breakpoint-up("lg") {
			display: block;
			text-align: left;
			padding-bottom: 0;
		}
	}
	&__buttons {
		margin-top: 35px;
		width: 100%;
		@include breakpoint-up("md") {
			margin-top: 30px;
			display: flex;
		}
		@include breakpoint-up("lg") {
			margin-top: 30px;
		}
	}

	&__button {
		margin-left: auto;
		margin-bottom: 15px;

		font-size: 1.8rem;
		@include breakpoint-up("md") {
			margin: 0;
			margin-right: 15px;
			&:last-child {
				margin-right: 0;
			}
		}
		@include breakpoint-up("lg") {
			margin: 0;
			margin-right: 15px;
			&:last-child {
				margin-right: 0;
			}
		}
		&:last-child {
			margin-bottom: 0;
		}
	}

	&__technologies {
		margin-top: 35px;
		@include breakpoint-up("md") {
			margin-top: 70px;
		}
		@include breakpoint-up("lg") {
			margin-top: 70px;
		}
	}

	&__text {
		margin-top: 15px;
		height: 3px;
		margin-bottom: 15px;
	}

	&__text-body {
		font-size: 1.8rem;
		line-height: 2.1rem;
	}
}
