.footer {
	z-index: 3;

	display: flex;
	justify-content: center;
	align-items: center;

	position: absolute;
	bottom: 30px;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;

	@include breakpoint-up("md") {
		justify-content: flex-start;

		bottom: 80px;
		left: 50%;
	}
	@include breakpoint-up("lg") {
		bottom: 109px;
		left: 50%;
	}

	&__line {
		width: 100%;
		height: 1px;
		background-color: white;
		max-width: 80%;

		position: relative;

		@include breakpoint-up("md") {
			max-width: 480px;
		}
		@include breakpoint-up("lg") {
			max-width: 555px;
		}
	}

	&__current {
		width: 100%;
		height: 5px;
		background-color: white;

		position: absolute;
		bottom: 0;
		left: 0;

		transition: 1s left ease;
	}

	// &__nav {
	// 	max-width: 80%;

	// 	@include breakpoint-up("md") {
	// 		max-width: 480px;
	// 	}
	// 	@include breakpoint-up("lg") {
	// 		max-width: 555px;
	// 	}
	// }
}
