.footer {
	z-index: 1;

	display: flex;
	justify-content: center;
	align-items: center;

	position: absolute;
	bottom: 30px;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;

	@include breakpoint-up("md") {
		justify-content: flex-start;

		bottom: 80px;
		left: 50%;
	}
	@include breakpoint-up("lg") {
		bottom: 109px;
		left: 50%;
	}

	&__nav {
		max-width: 80%;

		@include breakpoint-up("md") {
			max-width: 480px;
		}
		@include breakpoint-up("lg") {
			max-width: 555px;
		}
	}
}
