.nav {
	position: relative;
	&__list {
		display: flex;
		flex-direction: column;
		gap: 50px;

		@include breakpoint-up("md") {
			flex-direction: row;
			gap: 17px;
		}
	}

	&__item {
		text-align: center;
	}

	&__link {
		font-size: 16px;
		line-height: 19px;
		letter-spacing: 0.1em;
		padding: 5px;

		color: $darkSecondaryFC;

		@include breakpoint-up("md") {
			padding: 10px;
		}
	}

	&__line {
		@include breakpoint-up("md") {
			width: 25px;
			height: 3px;
			background-color: white;

			position: absolute;
			bottom: -10px;
			left: 10px;

			transition: 1s left ease;
		}
	}
}

@media (min-width: $tableWidth) {
	.nav {
		&--header {
			flex-direction: row;
			padding: 0;

			.nav__link {
				display: block;
				padding: 10px;

				letter-spacing: 0.1em;

				color: $darkSecondaryFC;

				margin-bottom: 0;

				position: relative;

				margin-right: 17px;

				outline: none;
				&:focus {
					transform: scale(1.1);
				}
				&:last-child {
					margin-right: 0;
				}

				&:hover {
					transform: scale(1.2);
				}

				&--active {
					&:before {
						content: "";
						display: block;
						width: 27px;
						height: 3px;
						background-color: white;

						position: absolute;
						bottom: 0;
						left: 10px;
					}
				}
			}
		}
	}
}
