.scroll {
	height: 100%;

	&__track {
		position: relative;
		width: 1px;
		height: 100%;
	}
	&__bar {
		width: 5px;
		height: 80px;
		position: absolute;
		left: 0;
		top: 0;
	}

	&--black {
		.scroll {
			&__track {
				background-color: $darkScrollWork;
			}
			&__bar {
				height: 104px;
				background-color: $darkScrollWork;

				@include breakpoint-up("lg") {
					height: 136px;
				}
				@include breakpoint-up("xl") {
					height: 165px;
				}
				@include breakpoint-up("xxl") {
					height: 196px;
				}
			}
		}
	}
	&--white {
		.scroll {
			&__track {
				background-color: $darkScrollPortfolio;
			}
			&__bar {
				width: 7px;
				height: 188px;
				background-color: $darkScrollPortfolio;
			}
		}
	}
}

@media (max-width: 768px) {
	.scroll {
		display: none;
	}
}
