.skills {
	padding-top: 84px;
	padding-bottom: 100px;

	@include breakpoint-up("md") {
		padding-top: 200px;
		padding-bottom: 100px;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}

	&__title {
		padding: 12px 0 12px 25px;
		order: 1;

		@include breakpoint-up("md") {
			min-width: 230px;
			padding: 0;
		}
		@include breakpoint-up("lg") {
			padding-right: 20px;
		}
	}

	&__wrapper {
		@include breakpoint-up("md") {
			margin-top: 0;

			width: 100%;
			max-width: 590px;
			padding-left: 20px;
		}

		@include breakpoint-up("lg") {
			padding-left: 65px;
		}
	}

	&__info-text {
		display: none;

		font-size: 16px;
		line-height: 19px;
		cursor: default;

		@include breakpoint-up("lg") {
			display: block;
		}
	}

	&__list {
		@include breakpoint-up("md") {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
		}

		@include breakpoint-up("lg") {
			margin-top: 15px;
		}
	}

	&__item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;

		cursor: pointer;

		@include breakpoint-up("md") {
			width: 100%;
			max-width: 45%;
		}

		&:hover {
			.skills__tooltip {
				padding: 5px;
				height: initial;
				opacity: 1;
			}
		}
	}

	&__item-name {
		font-size: 20px;
		line-height: 38px;

		letter-spacing: 0.1em;

		color: $darkSecondaryFC;

		cursor: pointer;

		@include breakpoint-up("md") {
			font-size: 19px;
			line-height: 36px;

			letter-spacing: 0.1em;
		}
	}

	&__tooltip {
		height: 0;
		overflow: hidden;
		opacity: 0;
		transition: 1s opacity ease;

		background-color: #c4c4c4;
		border-radius: 2px;

		position: absolute;
		top: 100%;
		left: 0;
		z-index: 2;

		max-width: 100%;
	}

	&__item-info {
		font-size: 1.5rem;
		line-height: 1.6rem;
		color: #1d1d1d;
		font-weight: 600;
	}
}
