.skills {
	padding-top: 84px;
	padding-bottom: 100px;

	@include breakpoint-up("md") {
		padding-top: 200px;
		padding-bottom: 100px;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}

	&__title {
		padding: 12px 0 12px 25px;
		order: 1;

		@include breakpoint-up("md") {
			min-width: 230px;
			padding: 0;
			padding-right: 20px;
		}
	}

	&__wrapper {
		@include breakpoint-up("md") {
			margin-top: 0;

			width: 100%;
			max-width: 590px;
			padding-left: 20px;
		}

		@include breakpoint-up("lg") {
			padding-left: 65px;
		}
	}

	&__info-text {
		display: none;

		font-size: 16px;
		line-height: 19px;

		@include breakpoint-up("lg") {
			display: block;
		}
	}

	&__list {
		@include breakpoint-up("md") {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
		}

		@include breakpoint-up("lg") {
			margin-top: 15px;
		}
	}

	&__item {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@include breakpoint-up("md") {
			width: 100%;
			max-width: 45%;
		}
	}

	&__item-name {
		font-size: 20px;
		line-height: 38px;

		letter-spacing: 0.1em;

		color: $darkSecondaryFC;

		@include breakpoint-up("md") {
			font-size: 19px;
			line-height: 36px;

			letter-spacing: 0.1em;
		}
	}
}
