.social {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 30px;

	@include breakpoint-up("md") {
		flex-direction: column;
		gap: 50px;
	}

	&__link {
		padding: 10px;
		font-size: 30px;
		line-height: 57px;

		color: $darkSecondaryFC;

		@include breakpoint-up("md") {
			transition: 0.5s font-size ease-in-out;

			&:hover {
				font-size: 50px;
			}
		}
	}
}
