.about {
	padding-top: 84px;
	padding-bottom: 113px;

	@include breakpoint-up("md") {
		padding-top: 210px;
		padding-bottom: 113px;

		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}

	&__title {
		padding: 12px 0 12px 25px;
		order: 1;
		@include breakpoint-up("md") {
			min-width: 270px;
			padding: 0;
		}

		@include breakpoint-up("lg") {
			padding-right: 20px;
			min-width: 450px;
		}
	}

	&__wrapper {
		max-width: 548px;
		margin-top: 28px;
		@include breakpoint-up("md") {
			margin-top: 0;
			padding-left: 30px;
		}
	}

	&__wrapper {
		p:not(:last-child) {
			margin-bottom: 28px;
		}
	}
}
