:root {
  --main-color: #ffffff;
  --second-color: #2c2c2c;
  --third-color: #d68629;
  --fourth-color: #272727;

  --main-fc: #000000;
  --second-fc: #ffffff;
  --third-fc: #d68629;
  --fourth-fc: #6B6B6B;
}
